<article class="content-list">
        <p class="content-list__text-best-platform">№1 трейдинг-платформа в Украине</p>
        <h1 class="content-list__title">Виртуальный облачный сервер для трейдеров</h1>
        <p class="content-list__text-choose-your-strategy">Выбирай стратегию, торгуй и зарабатывай реальные деньги</p>
        <div class="interactive-wrapper">
            <a href="#" class="button button--fill-green interactive-wrapper__button">Начать торговлю</a>
            <a href="#" class="video-link"><svg width="94.45" height="94.35"><use href="#header--play-btn"></use></svg></a>
        </div>
        <div class="social-links">
            <a href="https://web.telegram.org/z/" class="header-telegram"><svg width="35px" height="35px"><use href="#social--telegram"></use></svg></a>
            <a href="https://www.whatsapp.com/" class="header-whatsapp"><svg width="35px" height="35px"><use href="#social--whatsapp"></use></svg></a>
            <a href="https://m.facebook.com/" class="header-facebook"><svg width="35px" height="35px"><use href="#social--facebook"></use></svg></a>
    </div>
    <div class="content-picture-wrapper">
    <picture>
        <source media="(max-width: 1065px)" srcset="./dist/img/header/arm-small.webp">
        <source media="(max-width: 1065px)" srcset="./dist/img/header/arm-small.png">
        <source srcset="./dist/img/header/arm-big.webp">
        <source srcset="./dist/img/header/arm-big.png">
        <img class="content-picture" src="./dist/img/arm-small.png" alt="picture">
    </picture>
    </div>
</article>
<ul class="benefits-list">
    <li class="benefit-item"><svg class="benefit-item__icon" width="30" height="30"><use href="#header--shield-check"></use></svg>  <p class="benefit-item__text">Аккредитованный брокер, защита клиентских средств</p></li>
    <li class="benefit-item"><svg class="benefit-item__icon" width="30" height="30"><use href="#header--graph-up-arrow"></use></svg> <p class="benefit-item__text"> Сверхнизкий спред и свопы</p></li>
    <li class="benefit-item"><svg class="benefit-item__icon" width="35" height="35"><use href="#header--people"></use></svg> <p class="benefit-item__text"> Многоязычная поддержка высочайшего уровня</p></li>
</ul>