<nav class="nav-bar"><a href="#" class="logo"><svg class="logo__icon" width="35" height="35"><use href="#logo"></use></svg>TradeGod</a>
    <ul class="nav-list">
        <li class="nav-item nav-item--registration"><a class="button button--fill-none">Регистрация</a></li>
        <li class="nav-item"><a href="#" class="nav-item__link">Услуги</a></li>
        <li class="nav-item"><a href="#" class="nav-item__link">Стоимость</a></li>
        <li class="nav-item"><a href="#" class="nav-item__link">Блог</a></li>
        <li class="nav-item"><a href="#" class="nav-item__link">О нас</a></li>
    </ul>
    <div class="other-wrapper">
        <div class="search-login-wrapper">
           <button type="button" class="search">
               <svg class="search__btn" width="23" height="23"><use href="#header--search"></use></svg>
           </button>
            <a href="#" class="person">
                <svg class="person__link" width="24.75" height="24.75"><use href="#header--person"></use></svg>
            </a>
        </div>
        <div class="btn-wrapper">
        <a class="button button--fill-none button--big-screen">Регистрация</a>
            <button class="burger-menu" type="button">
                <span class="burger-menu__line"></span>
                <span class="burger-menu__line burger-menu__line--medium"></span>
                <span class="burger-menu__line burger-menu__line--small"></span>
            </button>
        </div>
    </div>
</nav>


