<header class="header">
    <div class="container container--header">
        <div class="custom-spots custom-spots__header-1 custom-spots__header-1--animated"></div>
        <div class="custom-spots custom-spots__header-2 custom-spots__header-2--animated"></div>
        <div class="custom-spots custom-spots__header-3 custom-spots__header-3--animated"></div>
        <div class="custom-spots custom-spots__header-4 custom-spots__header-4--animated"></div>
        <div class="custom-spots custom-spots__header-5 custom-spots__header-5--animated"></div>
@@include('header-nav.html',{})
        <section class="header-content">
@@include('header-content.html',{})
        </section>
    </div>
</header>