.container{
  box-sizing: content-box;
  max-width: 1186px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.svg-sprite-container{
  visibility: hidden;
  width: 0;
  height: 0;
}
.custom-spots {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  top: 0;
  position: absolute;
  width: 383px;
  height: 0;
  background-image: radial-gradient(rgba(#00FFB2, 1) 60%, rgba(0, 0, 0, 0));
  filter: blur(150px);
  transform: translate3d(0, 0, 0) rotate(37.77deg);
  z-index: -1;
}
.scroll-animation-to-top{
  opacity: 0;
  transform: translateY(100%);
  &--show{
    opacity: 1;
    transition: all 0.5s;
    transform: translateY(0%);
  }
}
.scroll-animation-to-right{
  opacity: 0;
  transform: translateX(-100%);
  &--show{
    opacity: 1;
    transition: all 0.7s;
    transform: translateX(0%);
  }
}
.button{
  display: inline-block;
  font-family: $rubik;
  font-weight: 400;
  font-size: 18px;
  line-height: 169.52%;
  padding: 0 30px 0 30px;
  backdrop-filter: blur(20px);
  border-radius: 10px;
  box-shadow: 3px 3px 50px rgba(144, 247, 236, 0.3);
  cursor: pointer;
  &--fill-none{
    color: #fff;
    background-color: rgba(144, 247, 236, 0.2);
    border: 1px solid #90F7EC;
    &:hover{
      color: #90F7EC;
      transition: color 0.3s;
    }
  }
  &--fill-green{
    color: #FFFFFF;
    background-image: linear-gradient(135deg, #90F7EC 0%, #00C7B2 100%);
    border: none;
    border-radius: 10px;
  }
}