<section class="start-trading-bots">
    <div class="container container--start-trading-bots">
        <div class="custom-spots custom-spots__trading-bots custom-spots__trading-bots-1 custom-spots__trading-bots-1--animated"></div>
        <div class="custom-spots custom-spots__trading-bots custom-spots__trading-bots-2 custom-spots__trading-bots-2--animated"></div>
        <div class="custom-spots custom-spots__trading-bots custom-spots__trading-bots-3 custom-spots__trading-bots-3--animated"></div>
        <div class="start-trading-flex-content">
        <h2 class="trading-bots__title scroll-animation-to-right">Запускайте торговых ботов для криптотрейдинга на топовых биржах</h2>
        <p class="trading-bots__text scroll-animation-to-right">Подключитесь к своему биржевому аккаунту с помощью API ключей и мгновенно создайте своего торгового бота.</p>
        <div class="trading-bots-link-wrapper scroll-animation-to-top">
            <a href="#" class="button--fill-green connect-account">Подключить аккаунт</a>
            <a href="#" class="how-choose-change">Как выбрать биржу</a>
        </div>
        </div>
    </div>
    <div class="trading-bots-container-mobile-bg">
    </div>
</section>