<section class="we-have-all-you-need">
    <div class="container container--we-have-all-you-need">
        <h2 class="all-you-need-title scroll-animation-to-right">
            У нас есть все, что нужно для трейдинга
        </h2>
        <ul class="all-you-need-list">
            <li class="all-you-need-item scroll-animation-to-top"><svg width="60" height="60" class="all-you-need-item__img"><use href="#we-have-all-you-need--bar-chart-line-fill"></use></svg><h3 class="all-you-need-item__title">Терминал</h3><p class="all-you-need-item__text">Открывайте вручную торговые позиции на нескольких биржах в одном окне терминала и экономьте свое время.</p></li>
            <li class="all-you-need-item scroll-animation-to-top"><svg width="60" height="60" class="all-you-need-item__img"><use href="#we-have-all-you-need--broadcast"></use></svg><h3 class="all-you-need-item__title">Торговые сигналы</h3><p class="all-you-need-item__text">Получайте бесплатные сигналы от экспертов. Определите рыночные возможности и эмулируйте методы в своих сделках всего в один клик.</p></li>
            <li class="all-you-need-item scroll-animation-to-top"><svg width="60" height="60" class="all-you-need-item__img"><use href="#we-have-all-you-need--cart-check-fill"></use></svg><h3 class="all-you-need-item__title">Маркетплейс</h3><p class="all-you-need-item__text">Копируйте торговые стратегии опытных трейдеров с помощью зеркальной торговли.</p></li>
            <li class="all-you-need-item scroll-animation-to-top"><svg width="60" height="60" class="all-you-need-item__img"><use href="#we-have-all-you-need--robot"></use></svg><h3 class="all-you-need-item__title">Торговые роботы</h3><p class="all-you-need-item__text">Настраивайте и запускайте торговых роботов и алгоритмы, играя как на повышение, так и на понижение.</p></li>
            <li class="all-you-need-item scroll-animation-to-top"><svg width="60" height="60" class="all-you-need-item__img"><use href="#we-have-all-you-need--chat-square-text-fill"></use></svg><h3 class="all-you-need-item__title">Push-оповещения</h3><p class="all-you-need-item__text">Благодаря подписке на нашу рассылку, вы будете в курсе всех важнейших новостей рынка торговли.</p></li>
        </ul>
    </div>
</section>