.start-trading-bots {
  overflow: hidden;
  position: relative;
  @media (max-width: 968px) {
    border-radius: 30px;
  }
  @media (max-width: 666px) {
    &::after{
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      height: 136.2666vw;
      background-image: linear-gradient(#435289, rgba(0,0,0,0) 20%),  url("../img/start-trade-small-bg.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      z-index: -2;
    }
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url("../img/start-trade-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -2;
    @media (max-width: 968px) {
      background-image: url("../img/start-trade-middle-bg.png");
    }
    @media (max-width: 666px) {
      background-image: linear-gradient(#435289, #435289), url("../img/nothing.png");
    }
  }
}

.container--start-trading-bots {
  padding-top: 178px;
  padding-bottom: 177px;
  display: flex;
  position: relative;
  @media (max-width: 666px) {
    padding-top: 60px;
    padding-left: 0;
    padding-right: 13px;
  }
}

.start-trading-flex-content {
  max-width: 507px;
  padding-left: 72px;
  box-sizing: content-box;
  @media (max-width: 968px) {
    max-width: 476px;
  }
  @media (max-width: 666px) {
    padding-left: 50px;
  }
}

.trading-bots {
  &__title {
    margin-top: 0;
    margin-bottom: 17px;
    font-family: $roboto;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    color: $white;
    position: relative;
    @media (max-width: 968px) {
      font-size: 32px;
      line-height: 126.19%;
    }
    &::before {
      position: absolute;
      content: "";
      height: 1px;
      background-color: $white;
      width: 40px;
      left: -71px;
      top: 11px;
      @media (max-width: 666px) {
        left: -49px;
      }
    }
  }

  &__text {
    margin-top: 0;
    margin-bottom: 53px;
    font-family: $rubik;
    font-size: 21px;
    line-height: 148%;
    color: rgba(255, 255, 255, 0.6);
    @media (max-width: 968px) {
      font-size: 18px;
      margin-bottom: 62px;
    }
  }
  @media (max-width: 666px) {
    margin-bottom: 50px;
  }
}

.trading-bots-link-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 20px;
  font-family: $rubik;
  @media (max-width: 968px) {
    max-width: 400px;
    row-gap: 38px;
  }
}

.connect-account {
  text-decoration-line: none;
  padding: 5.5px 20px;
  font-size: 21px;
  line-height: 169.52%;
}

.how-choose-change {
  padding-left: 35px;
  font-size: 16px;
  line-height: 30px;
  text-decoration-line: none;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    background-image: url("../img/point.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
.custom-spots {
  &__trading-bots{
    width: 332px;
    filter: blur(170px);
    transform: translate3d(0, 0, 0) rotate(0);
    background-image: radial-gradient(rgba(#90F7EC, 1) 60%, rgba(0, 0, 0, 0));
  }
  &__trading-bots-1 {
    height: 405px;
    left: -165px;
    top: -136px;
    &--animated {
      animation: move-trading-spot-1 5s linear 0s infinite alternate;
      @keyframes move-trading-spot-1 {
        from {
          left: -165px;
          top: -136px;
        }
        to {
          left: 200px;
          top: 50px;
        }
      }
    }
    @media (max-width: 968px) {
      left: -256px;
      top: -142px;
      &--animated {
        @keyframes move-trading-spot-1 {
          from {
            left: -256px;
          }
          to {
            left: 80px;
          }
        }
      }
    }
    @media (max-width: 666px) {
      width: 313.59px;
      left: -155.55px;
      top: -43px;
      &--animated {
        @keyframes move-trading-spot-1 {
          from {
            top: -43px;
          }
          to {
            top: 300px;
          }
        }
      }
    }
  }
  &__trading-bots-2 {
    height: 307px;
    left: 240px;
    top: -87px;
    background-image: radial-gradient(rgba(#00FFB2, 1) 60%, rgba(0, 0, 0, 0));
    &--animated {
      animation: move-trading-spot-2 8s linear 0s infinite alternate;
      @keyframes move-trading-spot-2 {
        from {
          left: 240px;
          top: -136px;
        }
        to {
          left: 400px;
          top: 300px;
        }
      }
    }
    @media (max-width: 968px) {
      left: 229px;
      top: -93px;
      &--animated {
        @keyframes move-trading-spot-2 {
          from {
            top: -93px;
          }
          to {
            top: 300px;
          }
        }
      }
    }
    @media (max-width: 666px) {
      width: 237px;
      height: 244px;
      left: 188px;
      &--animated {
        @keyframes move-trading-spot-2 {
          from {
            top: -43px;
          }
          to {
            top: 250px;
          }
        }
      }
    }
  }
  &__trading-bots-3 {
    width: 389px;
    height: 392px;
    left: -175px;
    top: 350px;
    &--animated {
      animation: move-trading-spot-3 7s linear 0s infinite alternate;
      @keyframes move-trading-spot-3 {
        from {
          left: -175px;
        }
        to {
          left: 300px;
        }
      }
    }
    @media (max-width: 968px) {
      left: -186px;
      top: 344px;
      &--animated {
        @keyframes move-trading-spot-3 {
          from {
            left: -186px;
          }
          to {
            left: 200px;
          }
        }
      }
    }
    @media (max-width: 666px) {
      display: none;
    }
  }
}
.trading-bots-container-mobile-bg{
  @media (max-width: 666px) {
  height: 136.2666vw;
  }
}