.we-have-all-you-need{
  padding-top: 144px;
  padding-bottom: 140px;
  @media (max-width: 1070px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  @media (max-width: 375px) {
    padding-top: 110px;
    padding-bottom: 100px;
  }
  background-color: #f8f6f6;
}
.container--we-have-all-you-need{
  max-width: 1044px;
}
.all-you-need-title{
  max-width: 507px;
  font-family: $roboto;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  color: #797878;
  margin-top: 0;
  margin-bottom: 50px;
  margin-left: -71px;
  padding-left: 71px;
  position: relative;
  @media (max-width: 1187px) {
    margin-left: -15px;
  }
  @media (max-width: 1070px) {
    font-weight: 400;
    font-size: 32px;
    line-height: 126.19%;
  }
  @media (max-width: 375px) {
    padding-left: 65px;
  }
  &::before{
    position: absolute;
    content: "";
    height: 1px;
    background-color: #797878;
    width: 40px;
    left: 0;
    top: 11px;
  }
}
.all-you-need-list{
  font-family: $rubik;
  margin-top: 0;
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
  @media (max-width: 1070px) {
    justify-content: center;
    gap: 30px;
  }
  @media (max-width: 375px) {
    gap: 20px;
  }
}
.all-you-need-item{
  max-width: 334px;
  min-height: 319px;
  background-color: $white;
  border-radius: 25px;
  @media (max-width: 1073px) {
    max-width: 327px;
  }
  &__img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 42px;
  }
  &__title{
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #797878;
    margin-top: 30px;
    margin-bottom: 13px;
  }
  &__text{
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    color: rgba(121, 120, 120, 0.8);
    @media (max-width: 1070px) {
      padding-left: 26px;
      padding-right: 26px;
    }
  }
}