.header {
  overflow: hidden;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(90deg, #0F0C29 0%, #302B63 50%, #24243E 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0 0 50px 50px;
    z-index: -1;
  }
}

.container--header {
  position: relative;
  @media (max-width: 1065px) {
    padding-left: 30px;
    padding-right: 30px;
  }
  @media (max-width: 560px) {
    padding-left: 25px;
    padding-right: 25px;
  }
  @media (max-width: 388px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.header-content {
  position: relative;
}

.custom-spots {
  &__header-1 {
    left: -170px;
    top: 20px;
    height: 153px;
    background-image: radial-gradient(rgba(#21FFFF, 1) 60%, rgba(0, 0, 0, 0));
    &--animated {
      animation: move-spot-1 5s linear 0s infinite alternate;
      @keyframes move-spot-1 {
        from {
          left: -170px;
        }
        to {
          left: 100px;
        }
      }
    }

    @media (max-width: 992px) {
      left: -160px;
      top: 50px;
      &--animated {
        @keyframes move-spot-1 {
          from {
            left: -160px;
          }
          to {
            left: 80px;
          }
        }
      }
    }
    @media (max-width: 560px) {
      left: -290px;
      top: -20px;
      &--animated {
        @keyframes move-spot-1 {
          from {
            left: -290px;
          }
          to {
            left: -60px;
          }
        }
      }
    }
  }

  &__header-2 {
    left: 140px;
    top: 20px;
    height: 184px;
    &--animated {
      animation: move-spot-2 5s linear 0s infinite alternate;
      @keyframes move-spot-2 {
        from {
          top: 20px;
        }
        to {
          top: 300px;
        }
      }
    }

    @media (max-width: 992px) {
      left: 130px;
      &--animated {
        @keyframes move-spot-2 {
          from {
            top: 20px;
          }
          to {
            top: 350px;
          }
        }
      }
    }
    @media (max-width: 560px) {
      left: 10px;
      top: -30px;
      &--animated {
        @keyframes move-spot-2 {
          from {
            top: -30px;
          }
          to {
            top: 350px;
          }
        }
      }
    }
  }

  &__header-3 {
    left: 84%;
    top: 270px;
    width: 337.15px;
    height: 219.85px;
    &--animated {
      animation: move-spot-3 5s linear 0s infinite alternate;
      @keyframes move-spot-3 {
        from {
          top: 270px;
        }
        to {
          top: 90px;
        }
      }
    }

    @media (max-width: 1065px) {
      left: 55%;
      top: 53%;
      width: 380.72px;
      height: 317.75px;
      filter: blur(170px);
      &--animated {
        @keyframes move-spot-3 {
          from {
            top: 53%;
          }
          to {
            top: 25%;
          }
        }
      }
    }
    @media (max-width: 560px) {
      left: 45%;
      top: 460px;
      width:  337.15px;
      height: 219.85px;
      filter: blur(150px);
    }
  }

  &__header-4 {
    left: 155px;
    top: 62%;
    width:  326.5px;
    height: 247.75px;
    transform: translate3d(0, 0, 0) rotate(138.62deg);
    background-image: radial-gradient(rgba(#90F7EC, 1) 60%, rgba(0, 0, 0, 0));
    filter: blur(170px);
    &--animated {
      animation: move-spot-4 5s linear 0s infinite alternate;
      @keyframes move-spot-4 {
        from {
          top: 62%;
          left: 155px;
        }
        to {
          top: 45%;
          left: 50px;
        }
      }
    }

    @media (max-width: 1065px) {
      left: 20px;
      top: 67%;
      width:  324.72px;
      height: 246.71px;
    }
    @media (max-width: 560px) {
      left: -40px;
      top: 660px;
      width:  326.5px;
      height: 247.75px;
      &--animated {
        @keyframes move-spot-4 {
          from {
            top: 660px;
            left: -40px;
          }
          to {
            top: 400px;
            left: 50px;
          }
        }
      }
    }
  }

  &__header-5 {
    left: 45%;
    top: 65%;
    width:  767.57px;
    height: 153px;
    transform: translate3d(0, 0, 0)  rotate(0.74deg);
    background-image: radial-gradient(rgba(#90F7EC, 1) 60%, rgba(0, 0, 0, 0));
    &--animated {
      animation: move-spot-5 5s linear 0s infinite alternate;
      @keyframes move-spot-5 {
        from {
          left: 65%;
        }
        to {
          left: 25%;
        }
      }
    }

    @media (max-width: 1065px) {
      display: none;
    }
  }
}

@import "header-nav";
@import "header-content";