.content-list {
  max-width: 510px;
  padding-top: 75px;
  padding-bottom: 50px;
  @media (max-width: 1065px) {
    max-width: 439px;
    padding-top: 60px;
    padding-bottom: 36px;
  }
  @media (max-width: 724px) {
    max-width: 100%;
    padding-top: 64px;
    padding-bottom: 0;
  }
  &__text-best-platform {
    display: inline-block;
    font-family: $rubik;
    color: rgba(255, 255, 255, 0.3);
    line-height: 169.52%;
    letter-spacing: 0.5px;
    padding: 10px 10px 10px 51px;
    margin-top: 0;
    margin-bottom: 0;
    background: linear-gradient(90deg, rgba(15, 12, 41, 0.15) 0%, rgba(48, 43, 99, 0.15) 50%, rgba(36, 36, 62, 0.15) 100%);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    backdrop-filter: blur(30px);
    position: relative;
    @media (max-width: 724px) {
      max-width: 350px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    @media (max-width: 560px){
      font-size: 14px;
    }

    &::before {
      position: absolute;
      content: "";
      width: 40px;
      height: 1px;
      left: 0;
      top: 50%-0.5;
      background-color: rgba(255, 255, 255, 0.3);
    }
  }

  &__title {
    font-family: $roboto;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.1em;
    color: rgba(255, 255, 255, 0.9);
    margin-top: 8px;
    margin-bottom: 19px;
    @media (max-width: 1065px) {
      font-size: 40px;
      line-height: 47px;
    }
    @media (max-width: 724px) {
      margin-top: 10px;
    }
    @media (max-width: 375px){
      font-size: 36px;
    }
    @media (max-width: 341px){
      font-size: 32px;
    }
  }

  &__text-choose-your-strategy {
    font-family: $rubik;
    font-size: 21px;
    line-height: 169.52%;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 0;
    margin-bottom: 23px;
    @media (max-width: 1065px) {
      font-size: 18px;
    }
    @media (max-width: 724px) {
      margin-bottom: 28px;
    }
  }
}

.interactive-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 343.45px;
  padding-bottom: 93.65px;
  @media (max-width: 1065px) {
    max-width: 322.45px;
    padding-bottom: 27.65px;
  }
  @media (max-width: 724px) {
    padding-bottom: 19.65px;
    max-width: 450px;
  }

  &__button {
    text-decoration-line: none;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 21px;
    @media (max-width: 1065px) {
      font-size: 18px;
      padding-left: 19px;
      padding-right: 19px;
    }
    @media (max-width: 350px){
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.video-link {
  height: 94.34px;
}

.social-links {
  display: flex;
  justify-content: space-between;
  padding-left: 52px;
  max-width: 207px;
  position: relative;
  @media (max-width: 724px) {
   margin-bottom: 40px;
  }
  &::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 1px;
    left: 0;
    top: 50%-0.5;
    background-color: rgba(255, 255, 255, 0.3);
  }
}
.content-picture-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
}
.content-picture {
  position: absolute;
  top: -40px;
  right: -86px;
  z-index: -1;
  @media (max-width: 1065px) {
    top: 57px;
    right: -143px;
  }
  @media (max-width: 724px) {
    display: block;
    position: static;
    height: 501px;
   width: 115%;
    object-fit: cover;
    margin-left: -25px;
    margin-right: -25px;
  }
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
  margin: 31px auto 0 auto;
  list-style-type: none;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    top: -31px;
    left: -1000%;
    right: 0;
    width: 1000vw;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 1;
    @media (max-width: 1312px) {
      left: -100px;
    }
    @media (max-width: 1065px) {
      top: -63px;
    }
    @media (max-width: 724px) {
      top: -60px;
    }
  }
  @media (max-width: 1065px) {
    margin-top: 63px;
    flex-wrap: wrap;
    max-width: 910px;
    justify-content: center;
    column-gap: 20px;
  }
  @media (max-width: 724px) {
    margin-top: 60px;
  }
  @media (max-width: 696px) {
    display: block;
    padding-bottom: 26px;
  }
}

.benefit-item {
  display: flex;
  column-gap: 13px;
  justify-content: space-between;
  align-items: center;
  max-width: 320px;
  padding-bottom: 66px;
  @media (max-width: 696px) {
    padding-bottom: 43px;
    margin-left: auto;
    margin-right: auto;
    justify-content: flex-start;
  }
  &__icon {
    min-width: 45px;
    min-height: 45px;
    padding: 7px;
    border-radius: 8px;
    border: 1px solid #00C7B2;
    box-shadow: 3px 3px 50px rgb(144 247 236 / 30%);

  }

  &__text {
    margin-top: 0;
    margin-bottom: 0;
    font-family: $rubik;
    font-weight: 400;
    font-size: 18px;
    line-height: 147.02%;
    color: rgba(255, 255, 255, 0.3);
  }
}
