.nav-bar{
  position: relative;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  @media (max-width: 560px){
    padding-top: 45px;
  }
}
.logo{
font-family: $roboto;
  color: #FFFEFE;
  text-decoration-line: none;
 display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.1em;
  &:hover{
    color: #00C7B2;
    transition: color 0.3s;
  }
  &__icon{
    margin-right: 12px;
  }
}
.nav-list{
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 80px;
  font-family: $rubik;
  display: flex;
  justify-content: center;
  column-gap: 60px;
  list-style-type: none;
  @media (max-width: 992px) {
    display: none;
    &--active{
      display: block;
    }
    padding-left: 0;
    position: absolute;
   top: 115%;
    left: 10px;
right: 10px;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 20px;
  }
}
.nav-item{
  &--registration{
    display: none;
    @media (max-width: 560px){
      display: block;
      text-align: center;
    }
  }
  &__link{
text-decoration-line: none;
    color: rgba(255, 255, 255, 0.3);
    font-size: 18px;
    line-height: 169.52%;
    @media (max-width: 992px) {
      color: #fff;
      width: 100%;
      display: block;
      text-align: center;
    }
    &:hover{
      color: #00C7B2;
      transition: color 0.3s;
    }
  }
  @media (max-width: 992px) {
    padding: 10px 0 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
    &:last-of-type{
      border-bottom: none;
    }
  }
}
.other-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 26px;
  @media (max-width: 560px){
    justify-content: center;
    column-gap: 0;
  }
}
.search-login-wrapper{
  display: flex;
  align-items: center;
}
.search{
  width: 23px;
  height: 23px;
  margin: 0 25px 0 0;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  &__btn{
    color: #FFFEFE;
  }
  &:hover{
    .search__btn{
      color:#00C7B2;
      transition: 0.3s;
    }
  }
  @media (max-width: 340px) {
    margin: 0 10px 0 0;
  }
}
.person{
  display: block;
  width: 24.75px;
  height: 24.75px;
    cursor: pointer;
  &__link{
    color: #FFFEFE;
  }
  &:hover{
    .person__link{
      color:#00C7B2;
      transition: 0.3s;
    }
  }
}
.btn-wrapper{
  display: flex;
}
.button{
  &--big-screen{
    @media (max-width: 560px) {
      display:none;
    }
  }
}
.burger-menu{
  margin-left: 38px;
  display: none;
  background: transparent;
  border: none;
  padding: 0;
  flex-direction:column;
  width:26px;
  height: 30px;
  cursor:pointer;
  @media (max-width: 992px) {
    display: grid;
  }
  @media (max-width: 560px){
    margin-left: 25px;
  }
  @media (max-width: 340px) {
    margin-left: 10px;
  }
  &__line{
    display: block;
  background-color: rgba(255, 255, 255, 0.3);
    border-radius:12px;
    height:2px;
    margin: 4px 0;
    width: 100%;
    transition: 0.4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
    @media (max-width: 992px) {
      justify-self: end;
    }
    &--medium{
      width: 75%;
    }
    &--small{
      width: 50%;
    }
    &--active{
      &:first-of-type{
        transform:rotatez(-45deg) translate(-5px,2.2px);
        width: 50%;
      }
      &:nth-of-type(2){
        transform:rotatez(45deg);
        width: 100%;
      }
      &:last-of-type{
        transform:rotatez(-45deg) translate(-4px, -12px);
      }
    }
  }
}
